MESH3D_ENV=development
MESH3D_ADDR=:8080
MESH3D_STORAGE_DIR=storage
MESH3D_CLIENT_DIR=../client/dist

POSTGRES_USER=mesh3d
POSTGRES_PASSWORD=mesh3d_dev
POSTGRES_DB=mesh3d
MESH3D_DATABASE_URL=postgres://mesh3d:mesh3d_dev@localhost:5432/mesh3d?sslmode=disable

MESH3D_JWT_SECRET=replace_with_a_strong_secret
MESH3D_ML_URL=http://127.0.0.1:8090
MESH3D_ML_API_KEY=replace_with_shared_ml_key
